/* BEGIN Light Italic */
@font-face {
	font-family: 'OpenSans';
	@include fontdef-woff($font-path, "OpenSans", $OpenSansVersion, "LightItalic");
	font-weight: 300;
	font-style: italic;
}
/* END Light Italic */
