<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="cfscripts" stopProcessing="true">
                    <match url="^!?cfscripts/.*" />
                    <action type="None" />
                </rule>
                <rule name="assets" stopProcessing="true">
                    <match url="assets/(.*)" />
                    <action type="None" />
                </rule>
                <rule name="fw1" stopProcessing="true">
                    <match url="^(.*)" />
                    <action type="Rewrite" url="/index.cfm/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
